
.column{
    display: flex;
    flex-direction: column;
}

.space-around-row{
    display: flex;
    justify-content: space-around;
}

.content-container{
    max-width: 650px;
    margin: 10px  auto  10px auto;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 10px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    padding: 20px  10px;
}

.button-container button{
    flex-grow: 1;
}