
.column{
    display: flex;
    flex-direction: column;
}

.space-around-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.space-around-row span{
    flex: 1;
    margin: 2px 5px;
}

.scroll-view{
    overflow: auto;
    max-height: 13em;
}

.content-container{
    max-width: 650px;
    margin: 10px  auto  10px auto;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 10px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    padding: 20px  10px;
}

.button-container button{
    flex-grow: 1;
}